.home-page {
  position: relative;
  width: 100%;
  margin: 4rem 0 0 0;
  padding-bottom: 7rem;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  font-size: 1.5625rem;
  text-align: center;
  color: var(--white);
  margin: 0 0 3rem 0;
  transition: all var(--transition-time) ease-in-out;
  letter-spacing: 1px;
}

.chart {
  width: 100%;
}

.chart-group {
  margin: 1rem 0 1.1rem;
  padding: 1.5rem 0;
}

.chart-desc {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 0.5rem;
  line-height: 1.5;
}

.data-figures-wrapper {
  background-color: var(--card-bg-dark);
  transition: all var(--transition-time) ease-in-out;
  border-radius: 1rem;
  margin: 2rem 0 0 0;
  padding: 0 0.8125rem;
}

.data-pair {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.data-pair:not(:last-child) {
  border-bottom: 1px solid var(--white-10);
}

.data-heading {
  font-weight: 400;
  font-size: 0.9rem;
  padding-right: 1.4rem;
  line-height: 1.7;
}

.data-figure {
  color: var(--white);
  /* transition: all var(--transition-time) ease-in-out; */
  font-weight: bold;
  font-size: 1.125rem;
  letter-spacing: 1px;
}
