/* Header and nav styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --accent-colour: #1da1f2;

  --toggle-bg: #03070c;
  --font-size: 1rem;
  --transition-time: 350ms;

  /* Dark mode colours */
  --dark-mode-bg: #14171a;
  --card-bg-dark: #1d2125;
  --search-input-dark: #252c32;
  --white: #fff;
  --white-70: rgba(255, 255, 255, 0.7);
  --white-65: rgba(255, 255, 255, 0.65);
  --white-10: rgba(255, 255, 255, 0.1);

  /* Light mode colours */
  --black: #000;
  --black-70: rgba(0, 0, 0, 0.7);
  --black-90: rgba(0, 0, 0, 0.9);
  --black-65: rgba(0, 0, 0, 0.65);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-5: rgba(0, 0, 0, 0.05);
  --card-bg-light: rgba(0, 0, 0, 0.05);
  --search-input-light: rgba(0, 0, 0, 0.13);
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Helper classes style */
.container {
  width: 100%;
  background-color: var(--dark-mode-bg);
  padding: 0.5rem 1.2rem;
  color: var(--white-65);
  transition: all var(--transition-time) ease-in-out;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  max-width: 64rem;
  margin: auto;
}

body {
  font-family: "Lato", sans-serif;
  font-size: var(--font-size);
  height: 100vh;
}

/* HEADER AND NAV STYLES */
/* header */
header {
  padding: 1.6875rem 0 0 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.125rem;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-text {
  margin: 0 0.5rem 0 0;
}

/* Toggle */
.toggle {
  position: relative;
  width: 2.3125rem;
  height: 1.125rem;
  background-color: var(--accent-colour);
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: all var(--transition-time) ease-in-out;
}

/* Circle inside the toggle */
.toggle-indicator {
  position: absolute;
  top: 18%;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  transition: all var(--transition-time) ease-in-out;
  background-color: var(--white);
  pointer-events: none;
  transform: translateX(175%);
}

.toggle-indicator.active {
  transform: translate(0%, 50%);
}

.toggle.active {
  background-color: var(--toggle-bg);
}

.toggle.active .toggle-indicator {
  background-color: var(--accent-colour);
  left: -45%;
}

/* Navigation at the bottom of the screen */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 61.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  padding: 0.8rem 1.2rem 0;
  background-color: var(--dark-mode-bg);
  transform: translateX(-1.2rem);
  transition: all var(--transition-time) ease-in-out;
}

/* Nav icons */
.nav-icon {
  background: none;
  border: none;
  color: #bbb;
  font-family: "Lato", sans-serif;
  font-size: 0.85rem;
  transform: translateY(24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all var(--transition-time) ease-in-out;
}

.nav-icon.active {
  transform: translateY(0);
}

/* Text under the nav icons */
.nav-text {
  margin: 0.1rem 0 0 0;
}

.nav-icon svg,
.nav-icon .nav-text {
  pointer-events: none;
}

.nav-icon.active .nav-icon-svg path {
  fill: var(--accent-colour);
}

.nav-icon.active {
  color: var(--accent-colour);
}

.active-caret {
  margin: 0.8rem 0 0 0;
}
